/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
}

.card {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  inline-size: var(--block_width);
}

.image_watermark {
  position: relative;
  display: inline-block;
}

.watermark {
  inline-size: 98px;
  block-size: 14px;
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  text-stroke: 1px rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px black) or (text-stroke: 1px black) {
  .watermark {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    text-stroke: 1px rgba(255, 255, 255, 1);
  }
}

.header {
  text-transform: uppercase;
  font-family: var(--accent-font);
  display: flex;
  justify-content: center;
  margin: 100px auto;
  inline-size: var(--block_width);
}

.section {
  margin: clamp(122px, calc(119.183px + 0.751vw), 130px) clamp(16px, calc(-21.5px + 10vw), 122.5px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.start_block {
  width: clamp(375px, calc(260.563px + 30.516vw), 700px);
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.block_title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-title);
  font-size: 18px;
  margin: 4px 10px;
  line-height: 100%;
}

.content {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-text);
  line-height: 21px;
}

.car {
  max-width: 100%;
}

.saturate {
  filter: saturate(250%);
}

.gray {
  filter: grayscale(60%);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(6px);
}

.satur {
  filter: saturate(60%);
}

.invert {
  filter: invert(80%);
}

.rotate {
  filter: hue-rotate(90deg) blur(3px) brightness(70%);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 0px 25px 25px 0px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  display: grid;
  transition: border-color 0.3s ease;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline-offset: 7px 5.5px;
  border: 2px solid #000;
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  border: 2px solid rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
  inline-size: 130px;
  block-size: 38px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  z-index: 1;
  background-color: var(--button-color);
  cursor: pointer;
}

.card__like-button span {
  z-index: 2;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.fill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.fill:hover::before {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.fill:hover {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;

}

.fill:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.memory:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.dialog_button:focus {
  box-shadow: 2px 2px 0 #000;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
}

.about_start {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 10px;
  border: 4px double rgb(151 91 193);
  padding: 10px;
}

.grandma {
  inline-size: 100%;
}

.start_sprint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-image: url(/images/Phone\ Wallpapers\ —\ The\ DIME\ Store.jfif);
  background-size: cover;
  padding: 20px;
}

.purple_stars {
  inline-size: 100%;
}

.coding_cat {
  inline-size: 100%;
  max-width: clamp(200px, calc(163.636px + 11.364vw), 300px);
  
}

.second_sprint {
  background-image: linear-gradient(150deg, #955AE6, #282647);
}

.dog {
  inline-size: 100%;
  padding: 15px;
}

.time-management {
  padding: 0px 15px 15px;
  color: rgb(255, 255, 255);
}

.deadline {
  inline-size: 100%;
  border: 2px solid black;
}

.loneliness {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.loneliness_pictures {
  max-inline-size: 100%;
  width: 100%;
  height: 100%;
}

.third_sprint {
  display: grid;
  grid-template-columns: 1fr clamp(150px, calc(135.714px + 4.464vw), 200px);
  gap: 10px;
  align-items: center;
}

.sad_girl {
  inline-size: 100%;
}

.sheep {
  inline-size: 100%;
}

.list_content::before {
  content: "✨";
}

.window {
  display: grid;
  gap: 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  grid-auto-flow: column;
  align-items: center;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.label {
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
  overflow: hidden;
  width: clamp(341px, calc(337.571px + 1.071vw), 353px);
  height: clamp(189px, calc(191.571px - 0.179vw), 191px);
}

.dialog_button {
  border: 2px solid var(--Themes-mainColor, rgba(0, 0, 0, 1));
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
  box-shadow: 0 0 0 #000;
  outline: none;
  overflow: hidden;
  inline-size: 293px;
  block-size: 38px;
  font-family: var(--accent-font);
  background-color: var(--button-color);
  line-height: 90%;
  position: relative;
  isolation: isolate;
}

.dialog_button span {
  z-index: 2;
  color: var(--button-color);
  mix-blend-mode: difference;
  text-transform: uppercase;
}

.memory {
  display: var(--memory_display);
  grid-auto-flow: var(--memory_grid);
  place-items: var(--memory_place-items);
  place-content: var(--memory_place-content);
  gap: 8px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease, transform 0.5s ease-in-out;
  margin: 50px auto;
  min-inline-size: var(--memory_min-inline-size);
  block-size: 55px;
  position: relative;
  background-color: var(--button-color);
  isolation: isolate;
  cursor: pointer;
}

.memory .disk,
.memory .safe {
  z-index: 2;
  color: var(--button-color);
  fill: var(--button-color);
  mix-blend-mode: difference;
  font-weight: 400;
}

.safe {
  font-family: var(--accent-font);
  font-size: 14px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
}

.sparks {
  opacity: 0;
}

@media(width <= 376px) {
  .memory {
    display: grid;
    grid-auto-flow: row;
    block-size: 84px;
  }

  .disk {
    width: 28px;
    height: 28px;
  }
}